<div class="row">

    <div *ngFor="let list of listManager.lists; index as i">
        <app-list-card titolo="{{list.titolo}}" index="{{i}}" (deleteListEvent)="listManager.removeList(i)"></app-list-card>
    </div>

    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <mat-card class="componente-rettangolo">
            <mat-card-title>
                <span class="cardTitle"> Nuova Lista </span>
            </mat-card-title>
            <mat-card-content class="sottorettangolo">
                <button mat-fab color="accent" (click)="listManager.addList('Titolo')"><mat-icon>add</mat-icon></button>
            </mat-card-content>
        </mat-card>
    </div>
</div>