.cardTitle {
    background-color: #ffffff00;
    border-color: #ffffff00;
    //border-width: 0px;
    margin-left: 3%;
    margin-right: 1.5%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 70%;
    font-size: larger;
    font-weight: bold;
}

.aggiunta-lista {

    background-color: #ccc;
    margin: 20px;
}

#contenitore-pulsante-aggiunta {

    background-color: #ddd;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}