<div class="container-fluid" *ngIf="shouldLoad">
    <div class="row justify-content-around">
        <div class="col-12 titolo">
            <span>{{lista.titolo}}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="let elemento of lista.elementi; index as i" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <app-elemento id="{{i}}"></app-elemento>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cntr">
            <button id="addelem" mat-fab color="accent" (click)="addElement()"> <mat-icon>add</mat-icon></button>
        </div>
    </div>
    <mat-checkbox class="checkbox" (change)="lista.shouldReorder = !lista.shouldReorder; reorder()" [checked]="lista.shouldReorder" labelPosition="before">Elementi segnati in fondo: </mat-checkbox>
</div>