input {

    border-width: 0;
}

.dotdotdot {

    text-overflow: ellipsis;
}

#addelem {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    height: 96px;
}

.cntr {

    text-align: center;
    display: flex;
}

.titolo {

    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.checkbox {

    position: fixed;
    right: 2%;
    bottom: 1%;
    z-index: 10000;
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    padding-left: 8px;
}