<!DOCTYPE html>
<html>
  <head>
    <title>Impostazioni</title>
    <link href="./prova.component.scss" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="column">
        <h1>⎯Generali⎯⎯⎯⎯⎯</h1>
        <ul>
          <li>
            <label for="dimensione-carattere">Dimensione Carattere</label>
            <input type="text" id="dimensione-carattere" style="width: 50%" />
            <button onclick="applyFontSize()">Conferma</button>
          </li>
        </ul>
      </div>
    </div>

    <script>
      function applyFontSize() {
        var input = document.getElementById("dimensione-carattere");
        var fontSize = parseInt(input.value);
        var fontSizeDifference = fontSize - 15;

        var labels = document.getElementsByTagName("label");
        for (var i = 0; i < labels.length; i++) {
          labels[i].style.fontSize = fontSize + "px";
        }
      }
    </script>
  </body>
</html>
