//color:#32BF8C;
.Header {
  width: 100%;
  height: 82.5px;
  background: #bbbbbb;
}
#titleImg {
  width: 487.5px;
  height: auto;
  right: auto;
  top: auto;
}
#logoImg{
  position: absolute;
  width: 90px;
  height: auto;
  left: 92%;
  top: 0.08%;
}
#settingsImg{
  position: absolute;
  width: 90px;
  height: auto;
  left: 82%;
  top: 0.08%;
}
