body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.column {

    background-color: #C2ECDD;
    margin-top: 3.5%
}

.input-container {
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 2%;
}

.checkbox-container {

    display: flex;
    align-items: center;
    height: auto;
    justify-self: end;
    margin-right: 0;
    margin-left: auto;
}

.input-container1 {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 2%;
}

input[type="text"] {
    width: 100%;
    padding: auto;
    margin-left: auto;
}

#dimensione-carattere {
    width: 40px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.menu {
    padding: 10px;
    margin-bottom: 10px;
}

.end {

    display: flex;
    justify-content: end;
}

.custom-input .mat-input-element {
    width: 100%;
    height: auto;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
}

.custom-input2 {
    width: 600px;
    height: auto;
    text-align: left;
}

.inm {
    width: 60px;
    margin-left: auto;
    text-align: center;
}

.inm2 {
    width: 85px;
    margin-left: auto;
    text-align: center;
}

.mat-mdc-text-field-wrapper {

    margin-left: -5%;
    border: 1px solid darkgreen;
}

#accedi {

    margin-right: 0;
    margin-left: -12%;
}

#registrati {

    margin-right: 0;
    margin-left: auto;
}

.hideSmall {

    display: none;

    @media (min-width: 1000px) {
        display: inline;
    }
}