<!DOCTYPE html>
<html>
<head>
  <title>Impostazioni</title>
</head>
<body>
  <div class="container">
    <div class="column">
      <h1>⎯Generali⎯⎯⎯⎯⎯</h1>
      <ul>
        <li>
          <label for="comando-vocale">Comando Vocale</label>
          <div class="checkbox-container">
            <input type="checkbox" id="comando-vocale">
            <label class="checkbox-label" for="comando-vocale">Attiva</label>
          </div>
        </li>
        <li>
          <label for="parola-ordine">Parola d'Ordine</label>
          <input type="text" id="parola-ordine" value="Lista" style="width: 50%;">
        </li>
        <li>
          <label for="richiesta-conferma">Richiesta di Conferma</label>
          <div class="checkbox-container">
            <input type="checkbox" id="richiesta-conferma">
            <label class="checkbox-label" for="richiesta-conferma">Attiva</label>
          </div>
        </li>
      </ul>
      <div class="menu">
        <h1>⎯Accessibilità⎯⎯⎯⎯⎯</h1>
        <ul>
          <li>
            <label for="alto-contrasto">Alto Contrasto</label>
            <div class="checkbox-container">
              <input type="checkbox" id="alto-contrasto">
              <label class="checkbox-label" for="alto-contrasto">Attiva</label>
            </div>
          </li>
          <li>
            <label for="dimensione-carattere">Dimensione Carattere</label>
            <input type="text" id="dimensione-carattere" style="width: 50%;">
          </li>
          <li>
            <label for="leggialta-voce">Leggi ad Alta Voce</label>
            <div class="checkbox-container">
              <input type="checkbox" id="leggialta-voce">
              <label class="checkbox-label" for="leggialta-voce">Attiva</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <h1>⎯Account⎯⎯⎯⎯⎯</h1>
      <ul>
        <li>
          <label for="account">Account</label>
          <div class="button-container">
            <button class="button">Accedi</button>
            <button class="button">Registrati</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
