<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-5 column">
            <div class="menu">
                <h1>Generali:</h1>

                <div class="input-container1 row justify-content-between">
                    <label class="col-8" for="dimensione-carattere">Dimensione Carattere</label>
                        <div class="col-4 end">
                        <input  type="number" maxlength="2" id="dimensione-carattere" (input)="updateCarattere()"
                            [(ngModel)]="fontSizes.fontSizeText" max="32" min="8" class="custom-input">
                            </div>
                </div>

                <div class="input-container1 row justify-content-between">
                    <label class="col-8" for="Tema">Tema</label>
                    <div class="col-4 end">
                        <mat-select class="custom-input2" [(value)]="temaPredefinito">
                            <mat-option *ngFor="let tema of temi" [value]="tema">
                                {{tema}}
                            </mat-option>
                        </mat-select>
                    </div>

                </div>

                <div class="input-container1 row justify-content-between">
                    <label class="col-8" for="Lingua">Lingua</label>
                    <div class="col-4 end">
                        <mat-select class="custom-input2">
                            <mat-option *ngFor="let lingua of lingue" [value]="lingue[indiceTemaAttivo]">
                                {{lingua}}
                            </mat-option>
                        </mat-select>
                    </div>

                </div>
            </div>

            <hr>

            <div class="menu">
                <h1>Accessibilità:</h1>


                <div class="input-container">
                    <label for="comando-vocale">Comando Vocale</label>
                    <div class="checkbox-container">
                        <mat-slide-toggle id="comando-vocale" [(ngModel)]="comandoVocaleAttivo"></mat-slide-toggle>
                    </div>
                </div>

                <div class="input-container" *ngIf="comandoVocaleAttivo">
                    <label for="parola-ordine">Parola d'Ordine</label>
                    <input type="text" id="parola-ordine" [(ngModel)]="parolaOrdine" style="width: 10%" />
                </div>

                <div class="input-container" *ngIf="comandoVocaleAttivo">
                    <label for="richiesta-conferma">Richiesta di Conferma</label>
                    <div class="checkbox-container">
                        <mat-slide-toggle id="richiesta-conferma"
                            [(ngModel)]="richiestaConfermaAttiva"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5 column">
            <div class="menu">
                <h1>Account:</h1>

                <div class="button-container">
                    <label for="account">Account</label>
                    <div class="example-button-row">
                        <a mat-fab routerLink="/login-page" id="accedi">
                            <mat-icon>login</mat-icon>
                        </a>
                        <a mat-fab routerLink="/sign-in" id="registrati">
                            <mat-icon>account_circle</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>