<!DOCTYPE html>
<html>

<head>
  <title>Impostazioni</title>
  <link href="./settings-page.component.scss" rel="stylesheet" />
  <style id="custom-styles"></style>
</head>

<body [ngStyle]="{'font-size': fontSizeInput + 'px'}">
  <div class="container">
    <div class="column">
      <h1>⎯Generali⎯⎯⎯⎯⎯</h1>
      <ul>
        <li>
          <div class="input-container1">
            <label for="dimensione-carattere">Dimensione Carattere</label>

            <mat-form-field class="inm">
              <input matInput type="number" id="dimensione-carattere" [(ngModel)]="fontSizeInput" class="custom-input">
            </mat-form-field>
          </div>
        </li>

        <li>
          <div class="input-container1">
            <label for="Tema">Tema</label>

            <mat-form-field class="inm2">
              <input matInput type="text" id="Tema" [(ngModel)]="varTema" class="custom-input2" style="width: auto">
            </mat-form-field>

          </div>
        </li>
        <li>
          <div class="input-container1">
            <label for="Lingua">Lingua</label>
            <mat-form-field class="inm2">
              <input matInput type="text" id="Lingua" [(ngModel)]="varLingua" class="custom-input2" style="width: auto">
            </mat-form-field>
          </div>
        </li>
      </ul>
      <div class="menu">
        <h1>⎯Accessibilità⎯⎯⎯</h1>
        <ul>
          <li>
            <div class="input-container">
              <label for="comando-vocale">Comando Vocale</label>
              <div class="checkbox-container1">
                <mat-slide-toggle id="comando-vocale" [(ngModel)]="comandoVocaleAttivo"></mat-slide-toggle>
              </div>
            </div>
          </li>
          <li class="optional-option" *ngIf="comandoVocaleAttivo">
            <div class="input-container">
              <label for="parola-ordine">Parola d'Ordine</label>
              <input type="text" id="parola-ordine" [(ngModel)]="parolaOrdine" style="width: 10%" />
            </div>
          </li>
          <li class="optional-option" *ngIf="comandoVocaleAttivo">
            <div class="input-container">
              <label for="richiesta-conferma">Richiesta di Conferma</label>
              <div class="checkbox-container2">
                <mat-slide-toggle id="richiesta-conferma" [(ngModel)]="richiestaConfermaAttiva"></mat-slide-toggle>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="column">
      <h1>⎯Account⎯⎯⎯⎯⎯</h1>
      <ul>
        <li>
          <div class="button-container">
            <label for="account">Account</label>
            <div class="example-button-row">
              <a mat-fab extended routerLink="/login-page">
                <mat-icon>login</mat-icon>
                Accedi
              </a>
              <a mat-fab extended routerLink="/sign-in">
                <mat-icon>home</mat-icon>
                Registrati
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
