.componente-rettangolo {

    margin: 20px;
    border-radius: 15px 15px 15px 15px;
}

h2 {

    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
}

mat-card-title {

    background-color: #139b5c;
    border: 1px solid darkgreen;
    border-radius: 15px 15px 0px 0px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sottorettangolo {

    border: 1px solid darkgreen;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    //else
    height: 80px;

    @media (min-width: 576px) {

        height: 100px;
    }

    @media (min-width: 768px) {

        height: 120px;
    }

    @media (min-width: 992px) {

        height: 140px;
    }

    @media (min-width: 1200px) {

        height: 200px;
    }
}

.cardTitle {
    background-color: #ffffff00;
    border-color: #ffffff00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 2%;
    margin-right: 2%;
    width: 70%;
    height: auto;
    font-size: x-large;
    font-weight: bold;
}

#sbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

//BASTA CSS FALLO TE (Non l'ha fatto lui, ma io)
//                                          -Leonardo