<!--mat-card>
    <mat-card-title>
        <span>
            <input matInput value="{{titolo}}" />
            <button mat-mini-fab color="warn" (click)="onShare()"><mat-icon>share</mat-icon></button>
            <button mat-mini-fab color="warn" (click)="onDelete()"><mat-icon>close</mat-icon></button>
        </span>
    </mat-card-title>

    <mat-card-content>
        <span class = "dotdotdot">{{elementiToString()}}</span>
    </mat-card-content>
</mat-card-->
<div class="componente-rettangolo">
  <h2>Titolo</h2>
  <div class="sottorettangolo">
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
  </div>
</div>

