.componente-rettangolo {
    background-color: #ccc;
    margin: 20px;
}

h2 {

    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
}

.sottorettangolo {

    background-color: #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    //else
    height: 80px;

    @media (min-width: 576px) {

        height: 100px;
    }

    @media (min-width: 768px) {

        height: 120px;
    }

    @media (min-width: 992px) {

        height: 140px;
    }

    @media (min-width: 1200px) {

        height: 200px;
    }
}

.cardTitle {
    background-color: #ffffff00;
    border-color: #ffffff00;
    //border-width: 0px;
    margin-left: 3%;
    margin-right: 1.5%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 70%;
    height: auto;
    font-size: larger;
    font-weight: bold;
}

#sbutton {
    width: 9%;
    height: auto;
    aspect-ratio: 1;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

//BASTA CSS FALLO TE (Non l'ha fatto lui, ma io)
//                                          -Leonardo