<mat-card class="componente-rettangolo">
    <mat-card-title>
        <input class="cardTitle" [(ngModel)]="liste[index].titolo" />
        <button id="sbutton" mat-icon-button (click)="share()"><mat-icon>share</mat-icon></button>
        <button id="sbutton" mat-icon-button (click)="removeList()"><mat-icon>close</mat-icon></button>
    </mat-card-title>
    <mat-card-content class="sottorettangolo" routerLink="/view-list" (click)="openList()" [innerHTML]="getToString()"></mat-card-content>
</mat-card>