<div class="container-fluid" id="container">
    <div class="close-btn" id="to-right">
      <button mat-icon-button type="button" color="warn" id="btn" (click)="close()">
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </div>


  <div class="container-fluid text-center">
    <div mat-dialog-content class="row">
      <div class="col">
          <div class="row">

            <div class="col-12">
              <h2>Codice Lista:</h2>
            </div>

            <div class="col-12">
              <span id="out">{{codice}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>